
<div class="card rounded shadow-sm p-3">

  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro: </div>
        </div>
        <input type="text"
        (input)="filtrarEventos($event.target)"
        class="form-control mr-2"
        placeholder="Filtrar por Tema e Local" > <!--O erro acusa que essa propriedade não consta no TypeScript, porém no contexto
          do HTML ela existe-->
      <!--[(ngModel) é uma data binding. É um mecanismo do Angular para sincronizar dados entre o template e o componente. -->
      <!--Quando o usuário digita algo no input, a propriedade filtroLista do componente é atualizada automaticamente. -->
      <!--E, vice-versa, quando o valor da propriedade filtroLista é alterado, o valor do input é atualizado automaticamente.-->
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
    </div>
  <!-- <h3>Filtro: {{filtroLista}}</h3> -->
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>
          <button class="btn btn-outline-light btn-sm" (click)="collapseImage()">
            <i class="{{isCollapsed ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            {{isCollapsed ? 'Ocultar Imagem' : 'Mostrar Imagem' }}
          </button>
        </th>
      <th>#</th>
      <th>Tema</th>
      <th class="d-none d-md-table-cell">Local</th>
      <th>Data</th>
      <th class="d-none d-md-table-cell">Qtd Pessoas</th>
      <th class="d-none d-md-table-cell">Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">

    <tr *ngFor="let evento of eventos" (click)="detalheEvento(evento.eventoId)" style="cursor: pointer;">
      <td class="d-none d-md-table-cell">
        <img [collapse]="!isCollapsed"
        [isAnimated]="true"
        [src]="mostrarImagem(evento.imagemURL)"
        alt=""
        [style.width.px]=imgWidth
        [style.margin.px]=imgMargin><!--isso se chama um property bidings-->
      </td>
        <td>{{evento.eventoId}}</td>
        <td>{{evento.tema}}</td>
        <td class="d-none d-md-table-cell">{{evento.local}}</td>
        <td>{{evento.dataEvento | DateFormatPipe}}</td>
        <td class="d-none d-md-table-cell">{{evento.qtdPessoas}}</td>
        <td class="d-none d-md-table-cell">{{evento.lotes[0]?.nome | uppercase}}</td>
        <td>
        <button type="button" class="btn btn-danger btn-lg" tooltip="Excluir" (click)="openModal($event, template, evento.eventoId)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<div class="d-flex justify-content-center">


<pagination
[boundaryLinks]="true"
[totalItems]="pagination.totalItems"
[itemsPerPage]="pagination.itemsPerPage"
[(ngModel)]="pagination.currentPage"
(pageChanged)="pageChanged($event)"

pageBtnClass="btn"
previousText="&lsaquo;"
nextText="&rsaquo;"
firstText="&laquo;"
lastText="&raquo;">

</pagination>


</div>

</div>

<!-- {{eventos | json}} -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o Evento de Código {{this.eventoId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
