<form [formGroup]="form" (submit)="onSubmit()">
<div class="form-row">
  <div class="form-group col-12">
    <h3 class="border-bottom">Detalhe Perfil</h3>
  </div>
  <div class="form-group col">
    <label>Título</label>
    <select class="form-control" formControlName="titulo">
      <option value=""></option>
      <option value="NaoInformado">Não Informado</option>
      <option value="Tecnologo">Tecnologo</option>
      <option value="Bacharel">Bacharel</option>
      <option value="Especialista">Especialista</option>
      <option value="PosGraduado">Pós Graduado(a)</option>
      <option value="Mestre">Mestre</option>
      <option value="Doutor">Doutor(a)</option>
      <option value="PosDoc">Pós Doc</option>
    </select>
  </div>
  <div class="form-group col-sm-5">
    <label>Primeiro Nome</label>
    <input type="text" class="form-control" formControlName="primeiroNome"
      [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched}"
      placeholder="Insira o primeiro nome" />
    <div class="invalid-feedback">
      Primeiro Nome é obrigatório.
    </div>
  </div>

  <div class="form-group col-sm-5">
    <label>Último nome</label>
    <input type="text" class="form-control" formControlName="ultimoNome"
      [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched}" placeholder="Insira o último nome" />
    <div class="invalid-feedback">
      Último Nome é obrigatório.
    </div>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-sm-5">
    <label for="">Email:</label>
    <input class="form-control" type="email" formControlName="email"
      [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" placeholder="Insira o e-mail" />
    <div *ngIf="f.email.errors?.required && f.email.touched" class="invalid-feedback">
      e-mail é obrigatório.
    </div>
    <div *ngIf="f.email.errors?.email && f.email.touched" class="invalid-feedback">
      Deve ser um e-mail válido.
    </div>
  </div>
  <div class="form-group col-sm-4">
    <label>Telefone</label>
    <input type="number" class="form-control" formControlName="phoneNumber"
      [ngClass]="{'is-invalid': f.phoneNumber.errors && f.phoneNumber.touched}" placeholder="Insira o nº de telefone" />
    <div class="invalid-feedback">
      Telefone é obrigatório.
    </div>
  </div>
  <div class="form-group col-sm">
    <label>Função no evento</label>
    <select class="form-control" formControlName="funcao"
      [ngClass]="{'is-invalid': f.funcao.errors && f.funcao.touched}" placeholder="Insira o nº de telefone">
      <option value=""></option>
      <option value="NaoInformado">Nao Informado</option>
      <option value="Participante">Participante</option>
      <option value="Palestrante">Palestrante</option>
    </select>
    <div class="invalid-feedback">
      Função é obrigatória.
    </div>
  </div>
  <div class="col-12">
    <label>Descrição</label>
    <input type="text" class="form-control" formControlName="descricao" placeholder="" />
  </div>
</div>
<div>
  <h3 class="pt-3 border-bottom">Mudar Senha</h3>
  <p>Caso mude de senha, preencha os campos abaixo:</p>
</div>
<div class="form-row">
  <div class="form-group col-sm">
    <label for="">Senha:</label>
    <input class="form-control" type="password" formControlName="password"
      [ngClass]="{'is-invalid': f.password.errors && f.password.touched}" placeholder="Digite uma Senha" />
    <div *ngIf="f.password.errors?.required && f.password.touched" class="invalid-feedback">
      Senha é obrigatório.
    </div>
    <div *ngIf="f.password.errors?.minlength && f.password.touched" class="invalid-feedback">
      Deve conter no mínimo 6 caracteres.
    </div>
  </div>
  <div class="form-group col-sm">
    <label>Confirmar Senha</label>
    <input class="form-control" type="password" formControlName="confirmePassword"
      [ngClass]="{'is-invalid': f.confirmePassword.errors && f.confirmePassword.touched}"
      placeholder="Confirme a Senha" />
    <div *ngIf="f.confirmePassword.errors?.required" class="invalid-feedback">
      Confirmar a senha é obrigatório.
    </div>
    <div *ngIf="f.confirmePassword.errors?.mustMatch" class="invalid-feedback">
      As senhas devem ser iguais.
    </div>
  </div>
</div>
<div class="card-footer">
  <div class="d-flex">
    <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm($event)">
      Cancelar Alteração
    </button>
    <button class="btn btn-success" type="submit">
      <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
      Salvar Alteração
    </button>
  </div>
</div>
</form>
