<h1>Eventos do components</h1>

<!--Uma diretiva no Angular é uma funcionalidade que permite estender o HTML com novos comportamentos e funcionalidades.-->
<!--O *ngFor é uma diretiva estrutural no Angular que permite iterar sobre uma coleção de dados e renderizar elementos HTML 
    para cada item da coleção de forma dinâmica. É amplamente utilizada para criar listas ou tabelas com base em dados fornecidos pelo componente.-->
<div *ngFor="let evento of eventos" > 
    <p><b>Tema: </b>{{evento.tema}}</p>   
    <p><b>Local: </b>{{evento.local}}</p>
    <b><hr></b> 
</div>
