<h2>Eventos</h2>
<hr>
<div class="form-inline">
    <div class="form-group mb-2">
        <input type="text" 
        class="form-control mr-2" 
        placeholder="buscar"
        [(ngModel)]="listFilter"
        >
        <button class="btn btn-outline-sucess">Buscar</button>
    </div>
</div>
<h3>Filtro:{{listFilter}}</h3>

<table class="table table-striped">
    <thead class="thead-dark">
        <th>                
            <button class="btn btn-outline-light btn-sm" (click)="collapseImage()">{{isCollapsed ? 'Mostrar Imagem' : 'Ocultar Imagem'}}</button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th>Local</th>
        <th>Data</th>
        <th>Qtd Pessoas</th>
        <th>Lote</th>
        <th>Opções</th>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventos">
            <td>
                <img [collapse]="isCollapsed" 
                [isAnimated]="true"
                src="/assets/{{evento.imagemURL}}" alt="" 
                [style.width.px]=imgWidth
                [style.margin.px]=imgMargin><!--isso se chama um property bidings-->
                
            </td>             
            <td>{{evento.eventoId}}</td>                
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
                <button type="button" class="btn btn-danger btn-sm">Excluir</button>
            </td>            
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8" class="text-center"><h4>Nenhum evento encontrado!</h4></td>
        </tr>
    </tfoot>
</table>